<%- include("parts/header", {title: 'Agenda de contatos' }) %>


  <div class="container">



    <div class="sumary">

      <div class="search">
        <input type="text" class="contact" id="search-contat" placeholder="Buscar um contato">

        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2.5rem" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16" color="black">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </div>

      <a class="button gray" href="/contact">
        <span>
          <img src="/images/plus-24.svg" alt="Novo Contato" />
        </span>
        Adicionar novo contato
      </a>

    </div>

    <section class="cards">
      <div class="card border-dark mb-2" id="card-content">
        <div class="card-nome">
          <div class="avatar">
            <h1>L</h1>
          </div>
          <div>
            <h2>Luis Matos</h2>
          </div>
        </div>
        <div class="category">
          <p>Categoria</p>
          <h4>Amigos</h4>
        </div>
        <div class="actions">
          <div style="font-size: 1.5rem;">
            <i class="bi bi-trash"></i>
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>

      <div class="card border-dark mb-2" id="card-content">
        <div class="card-nome">
          <div class="avatar">
            <h1>L</h1>
          </div>
          <div>
            <h2>Luis Matos</h2>
          </div>
        </div>
        <div class="category">
          <p>Categoria</p>
          <h4>Trabalho</h4>
        </div>
        <div class="actions">
          <div style="font-size: 1.5rem;">
            <i class="bi bi-trash"></i>
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>

      </div>

      <div class="card border-dark mb-2" id="card-content">
        <div class="card-nome">
          <div class="avatar">
            <h1>L</h1>
          </div>
          <div>
            <h2>Luis Matos</h2>
          </div>
        </div>
        <div class="category">
          <p>Categoria</p>
          <h4>Familia</h4>
        </div>
        <div class="actions">
          <div style="font-size: 1.5rem;">
            <i class="bi bi-trash"></i>
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>

      <div class="card border-dark mb-2" id="card-content">
        <div class="card-nome">
          <div class="avatar">
            <h1>L</h1>
          </div>
          <div>
            <h2>Luis Matos</h2>
          </div>
        </div>
        <div class="category">
          <p>Categoria</p>
          <h4>Familia</h4>
        </div>
        <div class="actions">
          <div style="font-size: 1.5rem;">
            <i class="bi bi-trash bi-4x"></i>
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>

    </section>

  </div>
  </div>

  <%- include("parts/footer") %>