<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <title>Agenda</title>
</head>

<body>

  <header>
    <div class="title">
      <div class="logotipo">
        <img class="logo" src="/images/logo.png" alt="Logo" />
        <h1>Agenda Contatos</h1>
      </div>
      <div class="navbar">
        <img src="/images/user.png" alt="User logo" class="user">
        <h2> Luis M. </h2>

      </div>

    </div>
    <div class="separator"></div>
  </header>



  <div class="container">



    <div class="sumary">

      <div class="search">
        <input type="text" class="contact" id="search-contat" placeholder="Buscar um contato">

        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2.5rem" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16" color="black">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </div>

      <a class="button gray" href="/">
        <span>
          <img src="/images/plus-24.svg" alt="Novo Contato" />
        </span>
        Adicionar novo contato
      </a>

    </div>

    <section class="content">
      <h2>dfjdiofsajdsfd</h2>
      <h2>dfjdiofsajdsfd</h2>
      <h2>dfjdiofsajdsfd</h2>
      <h2>dfjdiofsajdsfd</h2>
      <h2>dfjdiofsajdsfd</h2>
      <h2>dfjdiofsajdsfd</h2>

    </section>



  </div>


  </div>

</body>

</html>