/* -------------Input---------------------*/
input {
  width: 20rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}

/* -------------Sumary---------------------*/

.sumary {
  margin-top: -10rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------------Content---------------------*/

.content {
  margin-top: 3rem;
  border-radius: 3px;
}

/* -------------Cards---------------------*/

.cards {
  margin-top: 2rem;
  background-color: var(--color-background);
}

.card-section {
  margin-top: 0.5rem;
}

#card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-nome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.category {
  text-align: center;
}

.category h4 {
  background-color: var(--color-primary);
  border-radius: 2.5rem;
  font-size: 1rem;
  padding: 5px;
}

.actions {
  color: var(--color-primary);
  margin-right: 1rem;
}

.actions i {
  padding-right: 0.5rem;
  size: 3rem;
}

.actions i:hover {
  color: black;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem;

  border: none;
}
