/* -------------Input---------------------*/
input {
  width: 20rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}

/* -------------Sumary---------------------*/

.sumary {
  margin-top: -10rem;
  color: white;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

/* -------------Search input---------------------*/
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.contact {
  width: 16rem;
  height: 100%;
}

/* -------------Content---------------------*/

.content {
  margin-top: 3rem;
  border-radius: 3px;
}

/* -------------Cards---------------------*/

.cards {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* -------------Card Content---------------------*/
.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f29263;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ee5a6f;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #8e24aa;
  font-size: 19px;
}

.buttons button:nth-child(1) {
  border: 1px solid #8e24aa !important;
  color: #8e24aa;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #8e24aa !important;
  color: #fff;
  height: 40px;
  background-color: #8e24aa;
}

.buttons button:nth-child(2) {
  border: 1px solid #8e24aa !important;
  background-color: #8e24aa;
  color: #fff;
  height: 40px;
}
/* -------------Avatar Card---------------------*/
.avatar {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem;

  border: 0.75px solid black;
}

.card-content {
  width: 20rem;
}
