/* style global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variaveis */
:root {
  --color-background: #e0e0e0;
  --color-text: black;
  --color-black: black;
  --color-white: white;
  --color-card-title: black;
  --color-gray: #3b444b;
  --color-primary: #ee5a6f;
  --border-black: 1px solid rgba(0, 0, 0, 0.75);
}

/* Configuraçoes tamanho de telas */
@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
  #column-resgister {
    border-right: 0.5px solid black;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 87.5%; /* 14px */
  }

  #column-resgister {
    border-right: 0px !important;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 75%; /* 12px */
  }
}

@media (max-width: 590px) {
  :root {
    font-size: 62.25%; /* 10px */
  }
}

body {
  background: var(--color-background);
}

/* container pages geral */
.container {
  width: min(1440px, 90vw);
  margin: 0 auto;
}
